node.exe : Loaded Prisma config from prisma.config.ts.
Au caractère Ligne:1 : 1
+ & "D:\nodejs/node.exe" "D:\nodejs/node_modules/npm/bin/npx-cli.js" pr ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Loaded Prisma c...isma.config.ts.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 

-- AlterTable
ALTER TABLE "WebhookDelivery" ALTER COLUMN "webhookId" SET DATA TYPE TEXT;

-- AddForeignKey
ALTER TABLE "WebhookDelivery" ADD CONSTRAINT "WebhookDelivery_webhookId_fkey" FOREIGN KEY ("webhookId") REFERENCES "Webhook"("id") ON DELETE CASCADE ON UPDATE CASCADE;

